.App {
  position: relative;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 260px;
  background-color: #c26fdb;
  background-image: linear-gradient(
    120deg,#7832e2,#c26fdb);
  display: flex;
  flex-direction: row;
}

.text-int {
  color: #fff;
  line-height: 160px;
  font-size: 32px;
  padding-left: 40px;
}

.url-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-control {
  display: block;
  width: calc(100% - 120px);
  padding: 10px 8px;
  font-size: 16px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:hover {
  border-color: #7832e2;
}

.form-control:focus {
  border-color: #7832e2;
}

.btn-secondary {
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background-color: #7832e2;
  border-color: #7832e2;
  border: none;
}

.btn-secondary:hover {
  cursor: pointer;
}


.App-content {
  position: absolute;
  top: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.veditor-container {
  width: calc(100% - 80px);
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dcdfe6;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%), 0 0 6px 0 rgb(0 0 0 / 4%);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rc-md-navigation {
  background-color: #7832e2 !important;
}

.button {
  color: #fff !important;
}
